:root {
	--width: min(100vw, (calc(100dvh * 16 / 9)));
	font-size: calc(var(--width) / 100);
}

body {
	width: var(--width);
	max-width: var(--width);
	min-width: var(--width);
	height: 100vh;
	height: 100dvh;
	background: #404040;
	color: #fffe;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}
#root {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

h3 {
	color: orange;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
